<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <mat-nav-list class="nav-list">
        <mat-list-item routerLinkActive="router-link-active">
          <button mat-icon-button matListItemMeta (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-list-item>

        <!-- <mat-list-item routerLinkActive="router-link-active">
          <a matListItemTitle> Home</a>
        </mat-list-item> -->

        <mat-list-item
          [routerLink]="['/formulaOne']"
          routerLinkActive="router-link-active"
          class="nav-item"
        >
          <a matListItemTitle>Formula One</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
