<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="driverId">
    <th mat-header-cell *matHeaderCellDef>Driver ID :</th>
    <td mat-cell *matCellDef="let driver">{{ driver.driverId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let driver">{{ driver.givenName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let driver">{{ driver.familyName }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="nationality">
    <th mat-header-cell *matHeaderCellDef>Nationality</th>
    <td mat-cell *matCellDef="let driver">{{ driver.nationality }}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
    <td mat-cell *matCellDef="let driver">{{ driver.dateOfBirth }}</td>
  </ng-container>

  <ng-container matColumnDef="permanentNumber">
    <th mat-header-cell *matHeaderCellDef>Permanent Number</th>
    <td mat-cell *matCellDef="let driver">{{ driver.permanentNumber }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
